@charset "UTF-8";
/*Fonts Google*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&family=Hind+Guntur&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
/*ESTILOS UNIVERSALES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; /*font descargada*/
}

.body__bg {
  background-color: #bcbbb7;
}

/*BARRA DE NAVEGACION*/
.header {
  z-index: 10;
}

.header__nav__row {
  max-width: 78rem;
}

#nav__logo {
  color: #fff;
}

/*anclas Nav Bar (links)*/
#nav__link {
  color: #fff;
  font-size: 1.1rem; /*tamano de la letra*/
  transition: all 0.3s; /*animacion para link*/
}

#nav__link:hover { /*Elementos <a> cuando el mouse esté posicionado sobreellos*/
  color: rgb(133, 133, 133);
}

/* -----------------MAIN----------------- */
/* Background of main */
.banner {
  /*imagen de fondo del Main */
  height: 100vh;
  background-image: url("../assets/img/desksetup-main.jpg");
  /* posicion de la imagen */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  /* effect background */
  filter: brightness(50%) blur(0.2rem);
}

/* tittle first section */
.main__tittle {
  border: 3px solid white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.main__tittle span {
  color: #bcbbb7;
}

/* .img__first {
  width: 31rem;
  height: 31rem;
} */
/* -----------------FOOTER----------------- */
.footer__icon {
  color: #fff;
}

.footer__icon:hover { /*Elementos <i> del footer cuando el mouse esté posicionado sobreellos*/
  color: rgb(133, 133, 133);
  transition: all 0.3s;
}

/* -----------------CARD----------------- */
/*.container__cards {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.container__cards a {
margin: 0 10px;
}*/
.card {
  --blur: 16px;
  --size: clamp(300px, 50vmin, 600px);
  width: var(--size);
  aspect-ratio: 4/3;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: #000;
  transform: translateZ(0);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(calc(1 + var(--hover, 0) * 0.25));
  transition: transform 0.2s;
}

.card__footer {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  gap: 0.5ch;
  background: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(var(--blur));
  height: 30%;
  align-content: center;
}

.card__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%) translateY(calc(var(--size) * 0.4)) translateY(calc(var(--hover, 0) * var(--size) * -0.4));
  background: purple;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background: hsla(0, 0%, 100%, 0.5);
  /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
  transition: transform 0.2s;
}

.card__action svg {
  aspect-ratio: 1;
  width: 50%;
}

.card__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
}

/* -----------------PRODUCTOS----------------- */
.gale__bs a {
  text-decoration: none;
}

/* -----------------NUESTRO TRABAJO----------------- */
.np__img {
  transition: all 0.5s;
}

.np__img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* -----------------CONCTACTO----------------- */
.form__container {
  background-color: #bcbbb7;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

/*# sourceMappingURL=styles.css.map */
