.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .img__404 {
        width: 50%;
        height: auto;
    }
    h1 {
        color: map-get($colors, primary );
        margin: 0;
        text-align: center;
        display: block;
        width: 50%;
    }
    .button {
        background-color: map-get($colors, primary);
        color: map-get($colors, primary-dark);
        border-radius: 18px;
        padding: 8px 17px 8px 17px;
        text-decoration: none;
        transition: all .5s;
        &:hover {
            background-color: map-get($colors, primary-dark);
            color: map-get($colors, primary);
        }
    }
    @media screen and (max-width: 992px) {
        .img__404 {
            width: 100%;
            height: auto;
        }
        .contenedor h1 {
            width: 75%;
        }
    }
}