footer {
    .footer__icon {
        color: map-get($colors, primary);
        transition: all 0.6s; // Animacion del <icon> / link
        &:hover { // Elementos <i> del footer cuando el mouse se posicione sobreellos
            transform: translateY(-10px);
        }
    }
    .footer__text {
        font-size: $fuente-mid;
    }
}