.footer__text {
    font-size: $fuente-mid;
}

.footer__icon {
    color: $color-primario;
    transition: all 0.3s; // Animacion del <icon> / link
}

.footer__icon:hover { // Elementos <i> del footer cuando el mouse se posicione sobreellos
    color: $color-secundario;
}