.main__qs {
    .main__tittle {
        align-items: center;
        flex-flow: nowrap;
        justify-content: space-between;
        position: relative;
        b {
            background-color: currentColor;
            display: block;
            flex: 1;
            height: 2px;
            opacity: .1;
        }
    }
    .container__parrafo {
        text-align: start;
    }

    /* Cuando la pantalla este en tablet/mobile
    el texto se va alinear en el centro */
    @media screen and (max-width: 960px) {
        .container__parrafo {
            text-align: center;
        }
    }
}




