// Animacion para imgs
.main__nt {
    .main__tittle {
        align-items: center;
          b {
              @include mild-line;
          }
    }
    .nt__img {
      transition: all 0.5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
    p {
      text-align: start;
    }
    @media screen and (max-width: 960px) {
      p {
          text-align: center;
      }
    }
}