 .main__contact {
    .main__tittle {
        align-items: center;
        b {
            @include mild-line;
        }
    }
 }
.form__container {
    .btn {
        background-color: map-get($colors, secondary);
        border: none;
        transition: all 0.4s;
        &:hover {
            background-color: map-get($colors, success);
        }
    }
    .btn--danger {
        &:hover {
            background-color: map-get($colors, danger);
        }
    }
}