// Este mixin se aplica para los estilos de las lineas semi-transparentes en los titulos de las paginas.
@mixin mild-line{
    background-color: currentColor;
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
}