// Variables
$fuente-mid: 1.1rem;

// Mapa SASS
$colors: (
  primary: #fff,
  primary-dark: #000,
  secondary: #858585,
  body: #bcbbb7,
  body-dark:#5e5e5d,
  success: #9fe2839d,
  danger: #ff6a6a,
);