// Variables
$fuente-mid: 1.1rem;

// Map SASS

// palette colors
$colors: (
  primary: #fff,
  primary-dark: #000,
  secondary: #858585,
  body-light: #bcbbb7,
  body-dark: #373a3d,
  success: #9fe2839d,
  danger: #ff6a6a,
  gradient: linear-gradient(to right, #ff00f4, #da00f5, #b100f5, #7d00f5, #1f00f4),
  background--050: #373a3d8a,
);